<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SaveMe</title>
</head>
<body>
    <div>
        <input type="text" id="number_1"/>
        <input type="text" id="number_2"/>

        <span id="result"></span>
        <button type="button" id="add_button">Add</button>
    </div>

<script>
    let number1 = document.getElementById("number_1")
    let number2 = document.getElementById("number_2")
    let resultSpan = document.getElementById("result")
    let button = document.getElementById("add_button")

    button.addEventListener("click", addNumbers)


    function addNumbers(){
        let var1 = Number(number1.value)
        let var2 = Number(number2.value)
        console.log(var1 + var2)
        resultSpan.innerHTML = (var1 + var2).toString()
    }

</script>
</body>
</html>